// Diferentes font-sizes que tendran lugar en el folder utilities para crear clases que podremos usar dentro de nuestro html.

// Font-family
$ff-sans: "Barlow", sans-serif;

$ff-base: $ff-sans;

//Font-sizes

$font-sizes: (
  900: clamp(3rem, 0.5rem + 5vw, 3.5rem),
  800: 2rem,
  600: 1.5rem,
  500: 1.3125rem,
  400: 1.125rem,
  300: 1rem,
);

//Font-weights

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
