@use "../abstracts/" as *;

// Esto puede ser de mucha ayuda a la hora de crear botones y navegations.

.flex-group {
  display: flex;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, $flex-group-gap);
  align-items: center;
}
